<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>バッファオーバーフロー</key>
	<string>プログラムで用意してあるバッファの大きさを超えるデータが送り込まれ、データが溢れること</string>
	<key>セキュアOS</key>
	<string>既存のOSにモジュール追加することで、セキュリティの強化を図ったOSのこと</string>
	<key>セキュアブート</key>
	<string>許可されていないOSやドライバーが起動時に実行されないようにする仕組み</string>
	<key>IDS (侵入検知システム)</key>
	<string>通信の中身を監視し、不正侵入を目的とした通信を管理者に通知するシステム</string>
	<key>IPS (侵入防止システム)</key>
	<string>サーバやネットワークへの不正侵入を阻止するツール</string>
	<key>UTM (統合脅威管理) </key>
	<string>企業などのセキュリティ対策手法の一つで、複合的な機能を持ったセキュリティ機器を導入して包括的・統合的に対策を実施すること</string>
	<key>NIDS (ネットワーク型IDS)</key>
	<string>ネットワークを流れるデータを取得して解析し、異常がないかを監視する。不正が疑われるデータを検知すること</string>
	<key>HIDS (ホスト型IDS)</key>
	<string>外部からそのコンピュータへアクセスするための通信内容を取得・解析し、異常がないかを検知する</string>
	<key>WAF (Web Application Firewall)</key>
	<string>外部ネットワークからの不正アクセスを防ぐためのソフトウェア</string>
	<key>VPN </key>
	<string>通信事業者の公衆回線を経由して構築された仮想的な組織内ネットワーク</string>
	<key>CSRF攻撃</key>
	<string>攻撃者が用意したWebサイトの閲覧中に、利用者の意図に関係なく、別のWebサイトで何らかの操作を行わせる攻撃</string>
	<key>完全性</key>
	<string>情報セキュリティで確保・維持する 3 つの要件のうち、ハッシュ関数やデジタル署名、改竄検知機構、バックアップなどによって、情報資産が棄損や改竄されないことは何と呼ばれるか</string>
	<key>リスクの影響が少ない場合は、敢えてそのリスクを許容すること。</key>
	<string>情報セキュリティリスクへの対処のうち、「リスクの保有（受容）」とはどのようなことか簡潔（30 文字程度）に説明せよ</string>
	<key>RSA（RSA 暗号化方式）</key>
	<string>発明者 3 名の頭文字から命名された公開鍵暗号化方式で、現在最も広く用いられている暗号化方式は何と呼ばれるか</string>
	<key>ハッシュ関数</key>
	<string>任意の長さのデータを決められた固定長に圧縮する関数で、一方向性、第 2 現像計算困難性、衝突困難性の 3 つの性質を持つ関数は何と呼ばれるか答えよ。</string>
	<key>MITM 攻撃（中間者攻撃）</key>
	<string>データの送信者と受信者の間で行われる共通鍵暗号化方式の秘密鍵や公開鍵暗号方式の公開鍵の交換において、通信経路の途中で相互の鍵を盗み取り、あたかも通信相手に成りすまして暗号化されたデータを盗聴する攻撃は何と呼ばれるか答えよ</string>
	<key>ワンタイムパスワード</key>
	<string>主体の知識による認証で、暗号学的な一方向性関数やハードウェアトークンを用いて、認証の際に 1 度だけ使用するパスワードは何と呼ばれるか答えよ</string>
	<key>バイオメトリクス認証</key>
	<string>主体の身体的な特性による認証で、指紋、虹彩、静脈パターンなどを用いた認証は何と呼ばれるか</string>
	<key>OpenID</key>
	<string>ID 連携の標準技術のうち、URL 形式の ID を用いるのが特徴で、SAML に比べてオープンなサービス形態での利用を想定した技術は何と呼ばれるか答えよ</string>
	<key>デジタル署名</key>
	<string>公開鍵暗号化方式を用いて、発信者が自身の秘密鍵でデータを暗号化し、受信者は発信者の公開鍵を使ってデータを復号することで、発信者の真正性を確保する仕組みは何と呼ばれるか答えよ</string>
	<key>プライベート認証局</key>
	<string>PKI における認証局モデルにおいて、企業等の組織内で独自に運営される認証局は何と呼ばれるか答えよ</string>
	<key>OSやネットワークサーバーの種類やバージョン情報を取得し、攻撃可能な脆弱性に対して攻撃を行う。</key>
	<string>ホストスキャンの手口 例</string>
	<key>TCPスキャニング、ステルススキャニングにより、攻撃対象ホストで稼働しているサービスを特定する</key>
	<string>ポートスキャンの手口 例</string>
	<key>ブルートフォース攻撃</key>
	<string>パスワードの奪取 例</string>
	<key>ポリモーフィック型, メタモーフィック型, ルートキット型</key>
	<string>マルウェアはタイプ別にどのようなものがあるか？</string>
	<key>DoS攻撃</key>
	<string>セッションハイジャックのための攻撃例</string>
	<key>エスケープ処理の実施</key>
	<string>SQLインジェクションの対策</string>
	<key>重要な操作の際は、操作の確認やパスワードの再入力を利用者に求める</key>
	<string>CSRF攻撃の対策の一つの例</string>
</dict>
</plist>
