<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>
　 　　 　　　∧__∧
　　　　　　( ´･ω･)∧∧
　　　　　 　/⌒ ,つ⌒ヽ)
　　　 　 　(___　 (　　__)　
&quot;&apos;&apos;&quot;&quot; &quot;&apos;ﾞ&apos;&apos;` &apos;ﾞ ﾞﾟ&apos;　&apos;&apos;&apos;　&apos;&apos;　&apos;&apos;&apos;　ﾟ`　ﾞ　ﾟ ﾞ&apos;&apos;`</key>
	<string>???</string>
	<key>2001:2f8::a3a0:0:0:10</key>
	<string> IPv6 アドレス「2001:02f8:0000:0000:a3a0:0000:0000:0010」の簡略表記は？</string>
	<key>ARP(Address Resolution Protocol)</key>
	<string>IP アドレスからハードウェアごとに一意に決められた 48 ビットのアドレスを
調べるプロトコルは何と呼ばれるか</string>
	<key>BGP（Border Gateway Protocol）</key>
	<string>通過するASの数で経路制御を行うプロトコル</string>
	<key>CSMA/CD(Carrier Sense Multiple Access/Collision Detection)</key>
	<string>イーサネットにおいて、データフレームの衝突を回避するためのアクセス制御
方式は何と呼ばれるか</string>
	<key>DHCP(Dynamic Host Configuration Protocol)</key>
	<string>ホストの IP アドレス設定を自動化し、プラグ＆プレイを可能にする仕組みは
何と呼ばれるか</string>
	<key>DNS(Domain Name System)</key>
	<string>ホスト名(ドメイン名)と IP アドレスを変換するための、インターネット上に広がる分散データベースは何と呼ばれるか</string>
	<key>EGP</key>
	<string>AS(自律システム)間ダイナミックルーティングプロトコル</string>
	<key>FTP</key>
	<string>TCPコネクションを2つ使用（制御用、データ転送用）し、ホスト間でファイル転送するためのプロトコル</string>
	<key>H.323</key>
	<string>IPネットワーク上で音声や映像のやり取りを取り扱う技術</string>
	<key>HTML</key>
	<string>WWWの基本概念の一つで、情報の表現フォーマットの定義</string>
	<key>HTTP</key>
	<string>WWWの基本概念の一つで、情報の転送など操作の定義</string>
	<key>HTTP（Hyper Text Transfer Protocol）</key>
	<string>WebブラウザーとWebサーバーとの間で、リクエストや応答の送受信を行うためのプロトコル</string>
	<key>ICMP(Internet Control Message Protocol)</key>
	<string>ネットワークの正常性確認、状態通知、チューニングなど、IP を補助するプロ
トコルは何と呼ばれるか</string>
	<key>IDS（侵入検知システム）</key>
	<string>通信の中身を監視し、不正侵入を目的とした通信を管理者に通知するシステム</string>
	<key>IEEE802.1X</key>
	<string>認められた機器のみがネットワーク接続できるように認証する仕組み</string>
	<key>IGP</key>
	<string>AS(自律システム)内ダイナミックルーティングプロトコル</string>
	<key>IMAP（Internet Message Access Protocol）</key>
	<string>電子メールの管理はサーバー側で行う、電子メールを受信するアプリケーションプロトコル</string>
	<key>LDAP（Lightweight Directory Access Protocol）</key>
	<string>一般的に認証サービスとして利用されることが多い、ディレクトリサービスを提供するためのプロトコル</string>
	<key>MIB（Management Information Base）</key>
	<string>SNMPでやりとりされる情報（を入れる箱）</string>
	<key>MIME（Multipurpose Internet Mail Extensions）</key>
	<string>「ヘッダ」と「本文」から構成され、電子メールでテキスト文字以外の様々なデータ形式を扱えるようにする拡張方式</string>
	<key>MPLS(Multi Protcol Label Switching)</key>
	<string>ラベルスイッチングというIPアドレスの送信方法を用いた代表的なもの</string>
	<key>MSS</key>
	<string>通信を行うデータ単位,ホスト間で決定される.</string>
	<key>NAPT(Network Address Port Translation)</key>
	<string>プライベート IP をグローバル IP に変換する技術は NAT と呼ばれるが、さら
に、TCP や UDP のポート番号も変換して、内部の複数のホストが同時にインタ
ーネット通信できるようにする仕組みは何と呼ばれるか</string>
	<key>OSPF（Open Shortest Path First）</key>
	<string>ルーター間でリンクの状態を交換し、ネットワークのトポロジー情報（データベース）を作成するプロトコルで、リンクの重み（コスト）が小さい経路を選択する。</string>
	<key>P2P（Peer To Peer）</key>
	<string>サーバーを介さずに端末同士が直接通信する方式</string>
	<key>POP（Post Office Protocol）</key>
	<string>電子メールの管理はクライアント側で行う、電子メールを受信するアプリケーションプロトコル</string>
	<key>RFC(Request For Comments)</key>
	<string>IETF で標準化しようとするプロトコルは、インターネット上でドキュメントと
して公開される。このドキュメントは何と呼ばれるか</string>
	<key>RIP(Routing Information Protocol)</key>
	<string>経路制御情報を定期的にネットワーク上にブロードキャストし、距離ベクトル型により経路決定するルーティングプロトコル</string>
	<key>RIP2</key>
	<string>マルチキャストを使用し、サブネットマスクにも対応したRIP</string>
	<key>RIP（Routing Information Protocol）</key>
	<string>経路制御情報を30秒ごとにネットワーク上にブロードキャストするプロトコル</string>
	<key>RMON（Remote Monitoring MIB）</key>
	<string>ネットワーク回線を監視するMIB群から構成</string>
	<key>RTP（Real-Time Protocol）</key>
	<string>UDPに順序制御を追加してリアルタイム通信に最適化された技術</string>
	<key>SIP（Session Initiation Protocol）</key>
	<string>H.323よりもシンプルでインターネット利用に最適化された技術</string>
	<key>SMTP（Simple Mail Transfer Protocol）</key>
	<string>電子メールを配送するアプリケーションプロトコル</string>
	<key>SNMP（Simple Network Management Protocol）</key>
	<string>ネットワーク管理情報をやり取りする仕組み</string>
	<key>SSH</key>
	<string>暗号化された遠隔ログインシステムを持つアプリケーション</string>
	<key>TCPは信頼性、UDPは高速性を求める場合</key>
	<string>TCPとUDPの使い分けは？</string>
	<key>TCP（Transmission Control Protocol）</key>
	<string>コネクション志向で信頼性のあるストリーム型プロトコル</string>
	<key>TELNET</key>
	<string>TCPコネクションを1つ使用し、相手ホストに文字列でコマンドを送信し、相手ホストのシェルで実行させるアプリケーション</string>
	<key>UDP（User Datagram Protocol</key>
	<string>信頼性は保証しないデータグラム型プロトコル</string>
	<key>UDP（User Datagram Protocol）</key>
	<string>シンプルな通信サービスを提供、コネクションレス型の通信方式、信頼性はアプリケーション側で提供しなければならないプロトコル</string>
	<key>URI</key>
	<string>WWWの基本概念の一つで、情報へのアクセス手段と位置の定義</string>
	<key>VPN（Virtual Private Network）</key>
	<string>インターネット上の仮想的な私的ネットワーク</string>
	<key>Webブラウザー</key>
	<string>WWW情報を利用するクライアントソフトウェア</string>
	<key>まず、サブネットマスクの第 1～3 オクテッドは 255(10)であるので、第 4 オクテッド
だけを考えればよい。
IPv4 アドレスの第 4 オクテッド「229(10)」の 2 進数表記は「11100101(2)」であり、
サブネットマスクの「192(10)」の 2 進数表記は「11000000(2)」である。
これら 2 つの 2 進数の AND を取ると「11000000(2)」=「192(10)」である。
すなわち、ネットワークアドレスは、「176.9.75.192」（答え）である。
次に、ブロードキャストアドレスは、ホスト部を全て「1(2)」とすればよいので、IPv4
アドレスの第 4 オクテッドは「11111111(2)」=「255(10)」となる。
すなわち、ブロードキャストアドレスは、「176.9.75.255」（答え）である。</key>
	<string>IPv4 アドレス「176.9.75.229」のサブネットマスクを「255.255.255.192」とする。この場合、「176.9.75.229」のネットワークアドレスとブロードキャストアドレスを答えよ。</string>
	<key>アプリケーションプロトコル</key>
	<string>個々のアプリケーション特有の通信処理を行うプロトコル</string>
	<key>アンチウィルス/パーソナルファイアウォール</key>
	<string>ホストを出入りする通信やファイル等を監視し、不正動作やマルウェア（ウィルス）を防いだり、攻撃パターンデータを更新することで、あらゆる攻撃からホストを防御</string>
	<key>ウェルノウンポート(0~1023)</key>
	<string>標準で決められているポート番号で、HTTP,HTTPS,SMTP,IMAP4,etc. 指定されたアプリケーション以外で使用してはいけないポート</string>
	<key>クッキー（Cookie）</key>
	<string>Webサーバーがクライアント側に情報を格納する仕組み</string>
	<key>クライアント・サーバーモデル</key>
	<string>サーバーでは、クライアントからの要求を処理するた
めのプログラムが予め起動していること</string>
	<key>スタティックルーティング</key>
	<string>ルーターに固定的（静的）に経路情報を設定する方法</string>
	<key>スライディングウインドウ方式</key>
	<string>順次複数のセグメントを並列的に送信して,通信性能を向上させる仕組み.</string>
	<key>スリーウェイハンドシェイク</key>
	<string>送信元はTCPヘッダだけのSYNパケットを送信して確認応答を待ち、相手から確認応答が送られてきた場合は通信が可能となるコネクション管理方法</string>
	<key>ダイナミックポート（49152～65535）</key>
	<string>送信側が発信ポートとしてダイナミックに割り当てるポート</string>
	<key>ダイナミックルーティング</key>
	<string>ルーティングプロトコルによって、自動的（動的）に経路情報を設定する方法</string>
	<key>ダイナミックルーティングプロトコル</key>
	<string>隣接ルーター間で自分が知っているネットワークの接続情報を交換することで行われる。隣接ルーター間で経路情報の交換が再帰的に行われることで、全てのネットワークに通信可能になる。このプロトコルは？</string>
	<key>データリンク層</key>
	<string>OSI 参照モデルにおいて、直接接続された同一リンク内の機器間でのデータフレームの識別と転送を担当する層は何と呼ばれるか</string>
	<key>トランジット</key>
	<string>BGPで、自分以外のAS間の通信を中継すること。</string>
	<key>トランスポート層</key>
	<string>OSI参照モデルのネットワーク層の上位層（第4層）</string>
	<key>ファイアウォール</key>
	<string>組織内部と外部（インターネット）の間に設置する、パケットフィルタリングタイプとアプリケーションゲートウェイタイプを持つセキュリティ</string>
	<key>ブロードキャスト</key>
	<string>同じデータリンク内の全宛先を指定し、1対不特定多数で行われるデータ通信</string>
	<key>ポート番号</key>
	<string>同一のコンピュータ内でアプリケーション（プログラ
ム）を区別するための識別子</string>
	<key>マルチキャスト</key>
	<string>特定のアドレスを指定して、1対複数で行われるデータ通信のこと</string>
	<key>メールアドレス</key>
	<string>インターネット上でメール受信者を特定するアドレス</string>
	<key>ユニキャスト</key>
	<string>単一のアドレスを指定して、1対1で行われるデータ通信のこと</string>
	<key>リンク状態型（Link-State）</key>
	<string>ルーターはネットワーク全体の接続状態を理解して経路制御表を作成する経路制御アルゴリズム</string>
	<key>侵入防止システム（Intrusion Prevention System）</key>
	<string>通知だけではなく、侵入を防止するシステム</string>
	<key>公開鍵暗号方式</key>
	<string>暗号化と復号に一対の別々の鍵を使用。(公開鍵, 秘密鍵),処理が重い。</string>
	<key>共通鍵暗号方式</key>
	<string>暗号化と復号に同じ鍵を使用。処理が高速。</string>
	<key>準ウェルノウンポート（1024～49151）</key>
	<string>標準で決められているポート番号で、指定されたアプリケーションでの使用が原則であるが、他の用途で使っても問題はないポート</string>
	<key>第 1 オクテッド目の「176」を 2 進数表記すると「10110000」となる。
つまり、「クラス B」（答え）であることが分かる。</key>
	<string> IPv4 アドレス「176.9.75.229」のクラスは？</string>
	<key>自律システム（AS:Autonomous System）、経路制御ドメイン（Routing Domain)</key>
	<string>経路制御に関するルールを決め、それをもとに運用する範囲を〜や〜という。</string>
	<key>距離ベクトル型（Distance-Vector）</key>
	<string>ルーターはネットワーク的な距離（メトリック）と方向によって目的となるネットワークやホストを決定する制御アルゴリズム</string>
</dict>
</plist>
